flask~=1.1.2
flask-restful~=0.3.8
pymysql~=0.9.3
werkzeug~=1.0.1
requests~=2.22.0
pytz~=2019.3
colorama~=0.4.3
jinja2~=2.10.3
itsdangerous~=1.1.0
click~=7.0
markupsafe~=1.1.1
cryptography~=2.8
greenlet~=0.4.15
mock~=3.0.5
aniso8601~=8.0.0
six~=1.13.0